# Exclude environment files
.env
.env.*

# Exclude IntelliJ IDEA project files
*.iml
.idea/

# Exclude Python compiled files and cache directories
*.pyc
__pycache__/

# Exclude Keycloak realm exports
keycloak/realm-export.json

backend/migrations/
backend/results/
backend/results/*

.coverage

.scannerwork/


.venv/
venv/
env/
**/.venv/
**/venv/
**/site-packages/

.git
.github
.venv
venv
__pycache__
*.pyc
.pytest_cache
.coverage
htmlcov
.env
.env.*
tests
frontend
node_modules
backend/reports/
security/
